@import '../../../styles/colors';
.wrapHeader {
    display: flex;
    background-color: $Yellow;
    height: 20%;
    padding: 10px 10% 10px 10%;

        .image { 
            width: 3%;
            height: 30%;

        }
        .input {
            width: 90%;
            margin-left: 1%;
            position: relative;
            &::placeholder {
               font-size: 12px;
               padding: 5px;
            }
        }
        .inputIcon {
            position: relative;
            right: 23px;
            top: 1px;
            background: $Grays;
            width: 22px;
            height: 21px;
            cursor: pointer;
            img {
                width: 14px;
                height: 14px;
                margin: 3px 0 0 4px;
            }
        }
}